################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProfileManagementSystem/bin
/ProfileManagementSystem/obj/Debug
/.vs
/ProfileManagementSystem/obj/Release/ProfileManagementSystem.csproj.CoreCompileInputs.cache
/ProfileManagementSystem/ProfileManagementSystem.csproj.user
