<?xml version="1.0" encoding="utf-8"?>

<appSettings>


  <!--<add key="SQliteConnectionString" value="Data source=G:\Shekar_projects_15January2020\PMS\ProfileManagementSystem\App_Data\pmsdb.db;version=3" />-->
  <add key="SQliteConnectionString" value="Data source=|DataDirectory|/pmsdb.db;version=3" />

  <add key="PageSwitchInterval_Seconds" value="5" />
  <add key="SlideInterval_Seconds" value="3" />
  <add key="SOP_SlideInterval_Seconds" value="3" />
    <add key="sopFileSize" value="60" />
  
    <add key="ProfilePicSize" value="60" />

</appSettings>
