<style>
    #footer {
        background-color: #FAFBFC;
        position: fixed;
        bottom: 0px;
        left: 0px;
        right: 0px;
        height: 40px;
        margin-bottom: 0px;
        z-index: 100;
        line-height: 40px;
        text-align: center;
        border-top: 1px solid #EBEBEB;
    }
    body {
        margin-bottom: 40px;
    }
</style>
@*<div class="app-wrapper-footer">
    <div class="app-footer">
        <div class="app-footer__inner">
            <div class="app-footer-left">
                <ul class="nav">
                    <li class="nav-item">
                        Copyright © 2020 Himatsingka Seide Limited
                    </li>

                </ul>
            </div>

        </div>
    </div>
</div>*@

<div id="footer">
    Copyright © @DateTime.Now.Year Himatsingka Seide Limited
</div>