
@using System.Configuration;
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var sopFileSize = int.Parse(ConfigurationManager.AppSettings["sopFileSize"].ToString());
}
@*save confirm*@
<div class="modal" tabindex="-1" role="dialog" id="ConfirmSaveModelPopup">
    <div class="modal-dialog" role="document">
        <div class="modal-content">          
            <div class="modal-body">
                <p><b>  Do you want to continue ? </b></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="SaveSOP();" data-dismiss="modal">Save changes</button>
            </div>
        </div>
    </div>
</div>
@*update confirm*@
<div class="modal" tabindex="-1" role="dialog" id="ConfirmUpdateModelPopup">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @*<div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>*@
            <div class="modal-body">
              <p><b>  Do you want to continue ? </b></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="UpdateSOP();" data-dismiss="modal">Save changes</button>
            </div>
        </div>
    </div>
</div>


<div>
    <div class="title_left">
        <br />

        <h3>
            @*<span id="PageTitle">SOP management</span>*@
        </h3>

        <div id="divCancelButton" class="form-group row">

            <div class="col-md-6 col-sm-6 col-xs-12">
                <button type="button" id="btnAdd" class=" btn btn-primary">Add SOP</button>
            </div>

        </div>

    </div>

    <form id="form-input" class="form-horizontal">
        @*@Html.AntiForgeryToken()*@
        <div id="addData" style="display:none;">


            <div class="form-group">
                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="txtFirstName">
                    Name <span class="required" style="color: red;">*</span>
                </label>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <input type="text" id="txtFirstName" maxlength="100" class="form-control col-md-7 col-xs-12">
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="idUpload">
                    SOP <span style="color: red;">*</span>
                </label>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <input type="file" id="idUpload" maxlength="100" class="form-control col-md-7 col-xs-12">
                </div>
            </div>
            <br>
            <div class="form-group">
                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="txtsortOrder">
                    Sort Order <span class="required" style="color: red;">*</span>
                </label>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <input type="text" id="txtsortOrder" maxlength="100" class="form-control col-md-7 col-xs-12">
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="IsActive">
                    Active <span style="color: red;">*</span>
                </label>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <select id="IsActive" class="form-control m-b"><option value="Yes">Yes</option><option value="No">No</option></select>
                </div>
            </div>
            <br>
            <div class="ln_solid"></div>
            <div class="form-group row">

                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-4">
                    <button type="button" id="btnSaveSOP" class="btn btn-primary" data-toggle="modal" data-target="#ConfirmSaveModelPopup">Save</button>
                    <button type="button" id="btnUpdateSOP" class="btn btn-primary" style="display:none" data-toggle="modal" data-target="#ConfirmUpdateModelPopup">Update</button>
                    <button type="button" id="btnClear" class=" btn btn-primary">Clear</button>
                    <button type="button" id="btnCancel" class=" btn btn-primary">Cancel</button>
                    <input type="hidden" id="editid">
                </div>
            </div>
        </div>
        <div class="ln_solid"></div>
        <div class="form-group row">
            @*<div class="control-group">*@
            <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
                <table id="tblDisplaySOPS"
                       class="table table-striped table-bordered" cellspacing="0">
                    <thead class="or-thead" style="background-color: #004b8d; color: white;">
                        <tr>
                            <th>Name</th>
                            <th>SOP</th>
                            <th>Sort Order</th>
                            <th>Active</th>
                            <th>Action</th>
                        </tr>
                    </thead>

                    <tbody id="tbldata" class="appendData"></tbody>

                </table>
            </div>
            @*</div>*@

        </div>

    </form>
</div>



<script>


    $(document).ready(function () {

        loadData();

    });

    function loadData() {
        var htmlText = "";
        $.ajax({
            type: "POST",
            url: "/SOP/GetSOPList",
            /**/
            data: null,
            dataType: "json",
            success: function (msg) {
                // alert('hello');
                $("#tblDisplaySOPS").DataTable().destroy();

                $("#tbldata").html("");
                $.each(msg, function (index, obj) {
                    var status = 'No';
                    if (obj.status == 1)
                        status = 'Yes';

                    htmlText += "<tr><td>" + obj.name + "</td><td>" + obj.filename + "</td><td>" + obj.sortOrder + "</td><td>" + status + "</td><td><img class='edit' id='btneditSOP'  style='cursor:pointer;' onclick='EditRecord(this," + obj.id + ")' title='Edit this record' src='../assets/images/others/edit.png')/></td></tr>";
                });
                $("#tbldata").html(htmlText);

                $("#tblDisplaySOPS").DataTable({

                    paging: true,
                    'bPaginate': true,
                    'iDisplayLength': 10,
                    columnDefs: [
                        { orderable: false, "targets": [4] }
                    ],
                    "dom": 'T<"clear">lfrtip',
                    destroy: true,
                    "bDestroy": true,

                });
            },
            error: function (xhr, ajaxOptions, thrownError) {
                showNotificationError(thrownError);
            }

        });

    }

    function EditRecord(d, id) {
        $("#addData").show();
        var tr = $(d).parent().parent();
        var td = tr.find('td');
        $("#txtFirstName").val($(td[0]).html());
        $("#txtsortOrder").val($(td[2]).html());
        $("#IsActive").val($(td[3]).html());
        $("#editid").val(id);
        $("#btnSaveSOP").hide();
        $("#btnUpdateSOP").show();
        $("#txtFirstName").prop("readonly", true);
        $("#btnAdd").hide();

        //DomainMetricListdata('Edit');
        //SLADetailsGrid('Edit');

    }
    $("#idUpload").change(function () {
        var data = new FormData();
        var files = $("#idUpload").get(0).files;
        if (files.length > 0) {
            if ($("#txtFirstName").val() == '') {
                $("#txtFirstName").val(files[0].name);
            }
        }
    });
    //$("#btnSaveSOP").click(

        function SaveSOP(){

        if ($("#txtFirstName").val() == '') {
            showNotificationError('Please provide SOP name !');
            return;
        }
        if ($("#txtsortOrder").val() == '') {
            showNotificationError('Please provide sort order !');
            return;
        }
        var data = new FormData();
        var files = $("#idUpload").get(0).files;

        if (files.length > 0) {
            var fileSize = files[0].size / 1024;
            if (fileSize > @sopFileSize) {
                showNotificationError('File size shold not be greater than  @sopFileSize KB');
                return;
            }
        }

        if (files.length > 0) {
            //var fileSize = files[0].size / 1024;
            //if (fileSize > 60) {
            //    alert('File size shold not be greater than 60 KB');
            //    return;
            //}

            data.append("MyImages", files[0]);
            data.append("Name", $("#txtFirstName").val());
            data.append("IsActive", $('#IsActive option:selected').text());
            data.append("SortOrder", $("#txtsortOrder").val());
            //alert(files[0].name)
            $.ajax({
                url: "/SOP/UploadFiles",
                type: "POST",
                processData: false,
                contentType: false,
                data: data,
                success: function (response) {
                    if (response.status == true) {
                        showNotificationSuccess(response.message);
                        clearAll();
                        loadData();
                        $("#addData").hide();
                        $("#btnAdd").show();

                    }
                    else {
                        showNotificationError(response.message);
                    }
                },
                error: function (er) {
                    showNotificationError('Error in Processing');
                }
            });
        }
        else {
            showNotificationError('Please select a SOP !');
        }
    }
    //);

    //$("#btnUpdateSOP").click(

    function UpdateSOP() {
        if ($("#txtFirstName").val() == '') {
            alert('Please provide SOP name !');
            return;
        }
        if ($("#txtsortOrder").val() == '') {
            alert('Please provide sort order !');
            showNotificationError('File size shold not be greater than 260 KB');
            return;
        }
        var data = new FormData();
        var files = $("#idUpload").get(0).files;
        //if (files.length > 0) {
        data.append("MyImages", files[0]);
        if (files.length > 0) {
            var fileSize = files[0].size / 1024;
            if (fileSize > @sopFileSize) {

                showNotificationError('File size shold not be greater than @sopFileSize KB');
                return;
            }
        }
        data.append("Name", $("#txtFirstName").val());
        data.append("IsActive", $('#IsActive option:selected').text());
        data.append("SortOrder", $("#txtsortOrder").val());
        data.append("Id", $("#editid").val());
        $.ajax({
            url: "/SOP/UpdateSOP",
            type: "POST",
            processData: false,
            contentType: false,
            data: data,
            success: function (response) {
                if (response.status == true) {
                    showNotificationSuccess(response.message);
                    clearAll();
                    loadData();
                    $("#addData").hide();
                    $("#btnAdd").show();
                }
                else {
                    showNotificationError(response.message);
                }
            },
            error: function (er) {
                showNotificationError(er);
            }
        });

    }

    //);

    $("#btnClear").click(function () {
        clearAll();
    });

    $("#btnAdd").click(function () {
        $("#addData").show();
        $("#btnUpdateSOP").hide();
        $("#btnAdd").hide();
        $("#btnSaveSOP").show();
        $("#txtFirstName").prop("readonly", false);

        clearAll();
    });
    $("#btnCancel").click(function () {
        $("#addData").hide();
        $("#btnAdd").show();
        clearAll();
    });

    function clearAll() {

        $("#IsActive").val('Yes');
        $("#txtFirstName").val('');
        $("#txtsortOrder").val('');
        $("#idUpload").val('');
        $("#txtFirstName").prop("readonly", false);

    }
    function showNotificationSuccess(msg) {
        setTimeout(function () {
            toastr.options = {
                closeButton: true,
                  progressBar: true,
                showMethod: 'slideDown',
                timeOut: 3000
            };
            toastr.success(msg, 'Notification');
        }, 1300);

    }



    ///// Failure status............

    function showNotificationError(msg) {

        setTimeout(function () {

            toastr.options = {

                closeButton: true,

                progressBar: true,

                showMethod: 'slideDown',

                timeOut: 3000

            };

            toastr.error(msg, 'Notification');

        }, 1300);

    }
</script>
