
@using System.Configuration;
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var ProfilePicSize = int.Parse(ConfigurationManager.AppSettings["ProfilePicSize"].ToString());
}
<div>
    <style>
        nav ul li a  {
                        font-size: 1.1rem;
                        font-weight: 600;

        }
    </style>
    <div class="title_left">

        <div id="divCancelButton" class="form-group row" style="padding-left:4px">

            <div class="col-md-6 col-sm-6 col-xs-12">
                <button type="button" id="btnAdd" class=" btn btn-primary">Add Profile</button>
            </div>

        </div>
        <br />
    </div>
    <form id="form-input" class="form-horizontal">

        @Html.AntiForgeryToken()
        <div id="addData" style="display:none;">
            <br>
            <div class="form-group">
                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="txtFirstName">
                    First Name <span class="required" style="color: red;">*</span>
                </label>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <input type="text" id="txtFirstName" maxlength="100" class="form-control col-md-7 col-xs-12">
                </div>
            </div>

            <br>

            <div class="form-group">
                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="txtLastName">
                    Last Name
                </label>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <input type="text" id="txtLastName" maxlength="100" class="form-control col-md-7 col-xs-12">
                </div>
            </div>

            <br>

            <div class="form-group">
                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="txtUserEmail">
                    Email <span class="required" style="color: red;">*</span>
                </label>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <input type="text" id="txtUserEmail" maxlength="100" class="form-control col-md-7 col-xs-12">
                </div>
                <div id="msgUserEmail" style="color:red"></div>
            </div>

            <br>

            <div class="form-group">
                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="txtDesignation">
                    Designation <span class="required" style="color: red;">*</span>
                </label>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <input type="text" id="txtDesignation" maxlength="100" class="form-control col-md-7 col-xs-12">
                </div>
            </div>

            <br>

            <div class="form-group">
                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="txtEmpCode">
                    Employee Code <span class="required" style="color: red;">*</span>
                </label>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <input type="text" id="txtEmpCode" maxlength="100" class="form-control col-md-7 col-xs-12">
                </div>
            </div>

            <br>

            <div class="form-group row">
                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="select_Role">
                    Role <span style="color: red;">*</span>
                </label>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <select name="Role" id="select_Role" class="form-control col-md-7 col-xs-12">
                        <option value="User">User</option>
                        <option value="Administrator">Administrator</option>
                    </select>
                </div>
                <div style="padding-bottom: 1px;">&nbsp</div>
            </div>
            <div class="form-group" id="pass" style="display:none">
                <br>
                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="txtPassword">
                    Password <span class="required" style="color: red;">*</span>
                </label>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <input type="password" id="txtPassword" maxlength="100" class="form-control col-md-7 col-xs-12">
                </div>
            </div>
            <div class="form-group" id="conPass" style="display:none">
                <br>
                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="ConTxtPassword">
                    Confirm Password <span class="required" style="color: red;">*</span>
                </label>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <input type="password" id="ConTxtPassword" maxlength="100" class="form-control col-md-7 col-xs-12">
                </div>
            </div>
            <br>
            <div class="form-group row">

                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="IsActive">

                    Active <span style="color: red;">*</span>

                </label>

                <div class="col-md-4 col-sm-4 col-xs-12">

                    <select id="IsActive" class="form-control m-b">
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>

                </div>

            </div>
            <br>
            <div class="form-group row">

                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="isDisplay">

                    Display <span style="color: red;">*</span>

                </label>

                <div class="col-md-4 col-sm-4 col-xs-12">

                    <select id="isDisplay" class="form-control m-b">
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>

                </div>

            </div>
            <br>

            <div class="form-group row">

                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="idUpload">

                    Picture <span style="color: red;">*</span>

                </label>

                <div class="col-md-4 col-sm-4 col-xs-12">

                    <input type="file" id="idUpload" maxlength="100" class="form-control col-md-7 col-xs-12">

                </div>

            </div>
            <br />

            <div class="ln_solid"></div>

            <div class="form-group row">

                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-4">
                    <button type="button" id="btnSave" class=" btn btn-primary">Save</button>
                    <button type="button" id="btnUpdate" class="btn btn-primary" style="display:none">Update</button>
                    <button type="button" id="btnClear" class=" btn btn-primary">Clear</button>
                    <button type="button" id="btnCancel" class=" btn btn-primary">Cancel</button>
                    <input type="hidden" id="editid">
                </div>

            </div>

        </div>
        <div class="ln_solid"></div>
        <div class="form-group row">
            <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
                @*<div class="control-group">*@

                @*<label class="Lablecolor">Data</label>*@

                <table id="tblDisplayProfiles"
                       class="table table-striped table-bordered" cellspacing="0">

                    <thead class="or-thead" style="background-color: #004b8d; color: white;">

                        <tr>

                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Designation</th>
                            <th>Employee Code</th>
                            <th>Role </th>
                            <th>Active?</th>
                            <th>Display in Portal?</th>
                            <th>Action</th>

                        </tr>

                    </thead>

                    <tbody id="tbldata" class="appendData"></tbody>

                </table>
            </div>
        </div>

    </form>

</div>

@*</div>*@
<script>



    $(document).ready(function () {
        //$("#edit").val('');
        LoadProfileData();

    });
    $("#select_Role").change(function () {
        if ($("#select_Role").val() == 'Administrator') {
            //alert($("#editid").val());
            if ($("#editid").val() != 'editRec') {
                $("#pass").show();
                $("#conPass").show();
            }
        }
        if ($("#select_Role").val() == 'User') {
            $("#pass").hide();
            $("#conPass").hide();
        }
    });
    function LoadProfileData() {
        var htmlText = "";
        $.ajax({

            type: "POST",
            @*url: '@Url.Action("GetUserProfileList", "Profile")',*@
            url: "/Profile/GetProfileList",
            data: null,
            dataType: "json",
            success: function (msg) {
                $("#tblDisplayProfiles").DataTable().destroy();
                $("#tbldata").html("");
                $.each(msg, function (index, obj) {

                    var display = 'No';
                    if (obj.display == 1)
                        display = 'Yes';

                    var status = 'No';
                    if (obj.status == 1)
                        status = 'Yes';

                    htmlText += "<tr><td>" + obj.firstname + "</td><td>" + obj.lastname + "</td><td>" + obj.email + "</td><td>" + obj.designation + "</td><td>" + obj.empno + "</td><td>" + obj.role + "</td><td>" + status + "</td><td>" + display+  "</td><td><img class='edit' id='btneditProfile'  style='cursor:pointer;' onclick='EditRecord(this)' title='Edit this record' src='../assets/images/others/edit.png')/></td></tr>";
                });
                $("#tbldata").html(htmlText);

                $("#tblDisplayProfiles").DataTable({

                    paging: true,

                    'bPaginate': true,

                    'iDisplayLength':10,

                    columnDefs: [

                        {orderable: false, "targets": [8]}
                    ],

                    "dom": 'T<"clear">lfrtip',

                     destroy: true,

                    "bDestroy": true,

                });
            },

            error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError)
            }

        });

    }

    function EditRecord(d) {
        $("#addData").show();
        var tr = $(d).parent().parent();
        var td = tr.find('td');

        $("#txtFirstName").val($(td[0]).html());
        $("#txtLastName").val($(td[1]).html());
        $("#txtUserEmail").val($(td[2]).html());
        $("#txtDesignation").val($(td[3]).html());
        $("#txtEmpCode").val($(td[4]).html());
        $("#select_Role").val($(td[5]).html());
        $("#IsActive").val($(td[6]).html());
        $("#isDisplay").val($(td[7]).html());
        $("#txtUserEmail").prop("readonly", true);
        $("#btnUpdate").show();
        $("#btnSave").hide();
        $("#editid").val('editRec');
        $("#btnAdd").hide();

    }
    $("#btnSave").click(function () {

        //Validations


        if ($("#txtDesignation").val() == '') {
            showNotificationError('Please provide designation !');
            return;
        }

        if ($("#txtFirstName").val() == '') {;
            showNotificationError('Please provide first name !');
            return;
        }

        if ($("#txtEmpCode").val() == '') {
            showNotificationError('Please provide employee code !');
            return;
        }

        if ($('#select_Role option:selected').text() == 'Administrator') {
            if ($("#txtPassword").val() == '') {
                showNotificationError('Please provide a password !');
                return;
            }
            if ($("#ConTxtPassword").val() != $("#txtPassword").val()) {
                showNotificationError('Password and Confirm password should be same !');
                return;
            }
        }
        if ($("#txtUserEmail").val() == '') {
            showNotificationError('Please provide email !');
            return;
        }
        var expr = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
        if (!expr.test($("#txtUserEmail").val())) {
            showNotificationError('Invalid email');
            return;
        }

        var data = new FormData();
        var files = $("#idUpload").get(0).files;
        if (files.length > 0) {

            var fileSize = files[0].size / 1024;
            if (fileSize > @ProfilePicSize) {
                showNotificationError('File size shold not be greater than 60 KB');
                return;
            }

            data.append("MyImages", files[0]);
            data.append("firstName", $("#txtFirstName").val());
            data.append("lastName", $("#txtLastName").val());
            data.append("email", $("#txtUserEmail").val());
            data.append("password", $("#txtPassword").val());
            data.append("confirmPassword", $("#ConTxtPassword").val());
            data.append("IsActive", $('#IsActive option:selected').text());
            data.append("isDisplay", $('#isDisplay option:selected').text());
            data.append("designation", $("#txtDesignation").val());
            data.append("empCode", $("#txtEmpCode").val());
            data.append("Role", $('#select_Role option:selected').text());
            //alert(files[0].name)
            $.ajax({
                url: "/Profile/UploadProfiles",
                type: "POST",
                processData: false,
                contentType: false,
                data: data,
                success: function (response) {
                    alert(response.message);
                    alert(response.status);
                    if (response.status == true) {
                        ShowStatusMsg(response.message);
                    }
                    else {
                        showNotificationError(response.message);
                    }
                    LoadProfileData();
                    clearAll();
                },
                error: function (er) {
                    showNotificationError(er);
                    //alert(er);
                }
            });
        }
        else {
            showNotificationError('Please select a profile pic !');
        }
    });

    $("#btnUpdate").click(function () {

        if ($("#txtDesignation").val() == '') {
            alert('Please provide designation !');
            return;
        }

        if ($("#txtFirstName").val() == '') {
            alert('Please provide first name !');
            return;
        }

        if ($("#txtEmpCode").val() == '') {
            alert('Please provide employee code !');
            return;
        }


        var data = new FormData();
        var files = $("#idUpload").get(0).files;
        if (files.length > 0) {
            var fileSize = files[0].size / 1024;
            if (fileSize > @ProfilePicSize) {
                alert('File size shold not be greater than 60 KB');
                return;
            }
        }
        data.append("MyImages", files[0]);
        data.append("firstName", $("#txtFirstName").val());
        data.append("lastName", $("#txtLastName").val());
        data.append("email", $("#txtUserEmail").val());
        data.append("password", $("#txtPassword").val());
        data.append("confirmPassword", $("#ConTxtPassword").val());
        data.append("IsActive", $('#IsActive option:selected').text());
        data.append("isDisplay", $('#isDisplay option:selected').text());
        data.append("designation", $("#txtDesignation").val());
        data.append("empCode", $("#txtEmpCode").val());
        data.append("Role", $('#select_Role option:selected').text());

        //if (files.length > 0) {
            //alert(files[0].name)
            $.ajax({
                url: "/Profile/UpdateProfile",
                type: "POST",
                processData: false,
                contentType: false,
                data: data,
                success: function (response) {

                    if (response.status == true) {
                        //alert('hi');
                        //alert(response.message);
                        ShowStatusMsg(response.message);
                    }
                    else {
                        //alert('bye');
                        showNotificationError(response.message);
                    }
                    //LoadProfileData();
                    //clearAll();
                },
                error: function (er) {
                    showNotificationError(er);
                }
            });
        //}
    });

    $("#btnClear").click(function () {
        clearAll();
    });
    $("#btnAdd").click(function () {
        $("#addData").show();
        $("#btnUpdate").hide();
        $("#btnAdd").hide();
        $("#btnSave").show();

        clearAll();
    });
    $("#btnCancel").click(function () {
        $("#addData").hide();
        $("#btnAdd").show();
        clearAll();
    });

    function clearAll() {

        $("#txtFirstName").val('');
        $("#txtLastName").val('');
        $("#txtUserEmail").val('');
        $("#txtDesignation").val('');
        $("#txtEmpCode").val('');
        $("#select_Role").val('User');
        $("#IsActive").val('Yes');
        $("#isDisplay").val('Yes');
        $("#txtUserEmail").prop("readonly", false);
        $("#idUpload").val('');
        $("#txtPassword").val('');
        $("#ContxtPassword").val('');
        $("#pass").hide();
        $("#conPass").hide();
        $("#editid").val('');
        //$("#btnUpdate").show();
        //$("#btnSave").hide();
    }

    function ShowStatusMsg(msg) {
        setTimeout(function () {
            toastr.options = {
                closeButton: true,
              //  progressBar: true,
                //showMethod: 'slideDown',
                timeOut: 3000
            };
            toastr.success(msg, 'Notification');
        }, 1300);

    }

    /////Validation Failure status............

    function showNotificationError(msg) {
        alert(msg);
        setTimeout(function () {

            toastr.options = {

                closeButton: true,

                progressBar: true,

                showMethod: 'slideDown',

                timeOut: 3000

            };

            toastr.error(msg, 'Notification');

        }, 1300);

    }
</script>
